---
import LayoutBtns from "../../../layouts/Layout-btns.astro";
import Layout from "../../../layouts/Layout.astro";

---

<Layout title="Rel Inter - UCALP">
    <LayoutBtns uni="UCALP" btn="Relalciones Internacionales">
        <h3>En la Unidad de Relaciones Internacionales (URI) de la UCALP, trabajamos día a día ampliando la proyección
            internacional de nuestra Universidad, generando espacios de vinculación con distintos actores internacionales.
          </h3>
          <h3>Nuestra misión consiste en internacionalizar la universidad mediante un proceso transversal que incluya las
            funciones académica, de investigación y extensión.</h3>
          <h2><strong>¿Cómo lo hacemos?</strong></h2>
          <h3>
            <ul>
              <li>
                Promovemos la cooperación internacional con instituciones extranjeras y organismos internacionales, mediante
                la negociación de distintos convenios internacionales.
              </li>
              <li>
                Desarrollamos vínculos académicos con redes regionales de educación superior procurando fortalecer la
                integración latinoamericana.
              </li>
              <li>
                Fomentamos la movilidad académica mediante intercambios presenciales y virtuales de nuestros estudiantes,
                profesores e investigadores.
              </li>
              <li>
                Presentamos y difundimos la imagen de la UCALP como un centro académico de excelencia para los estudiantes
                extranjeros que deseen cursar estudios en nuestra casa.
              </li>
              <li>
                Facilitamos la internacionalización de nuestros planes de estudio, procurando desarrollar competencias
                interculturales en nuestro cuerpo académico.
              </li>
              <li>
                Informamos sobre los distintos programas y capacitaciones de carácter internacional de la Universidad.
              </li>
            </ul>
          </h3>
          <h2>Para +info entrá <a href="https://www.ucalp.edu.ar/relaciones-internacionales/">ACÁ</a></h2>
    </LayoutBtns>
</Layout>