---
import LayoutBtns from "../../../layouts/Layout-btns.astro";
import Layout from "../../../layouts/Layout.astro";

---

<Layout title="Rel Inter - UNLP">
    <LayoutBtns uni="UNLP" btn="Relaciones Internacionales">
        <h2><strong>Relaciones Internacionales</strong></h2>
        <h3>La Universidad Nacional de La Plata constituye uno de los centros más prestigiosos del sistema de
          investigación y docencia nacional, lo que la convierte en punto de referencia obligada en la formación
          del acervo cultural universitario de nuestro país.</h3>
        <h2><strong>Dirección de Relaciones Internacionales Universitarias (DRIU)</strong></h2>
        <br>
        <h3>
          <p>Con amplitud de conocimientos, esta universidad ha contribuido a la democratización y difusión del saber a
            numerosas generaciones de ciudadanos de Argentina y América Latina. Por las aulas de esta Casa de Altos
            Estudios han transcurrido representantes de diversos países, convirtiendo el conocimiento en la mayor
            herramienta de unificación y diseño de destinos comunes.<br>
            &nbsp;<br>
            Trabajar estrategias de fortalecimiento de esta integración junto a la articulación entre instituciones y
            recursos, implica garantizar una cooperación internacional compartida y permanente.<br>
            &nbsp;<br>
            Esta Prosecretaría plantea el desafío de ser la instancia articuladora de las relaciones internacionales
            universitarias implementando el acompañamiento de proyectos y convenios interuniversitarios junto al soporte
            logístico y operacional en las diversas instancias de relacionamiento de las unidades académicas.</p>
        </h3>
        <h2>Para encontrar la información completa entrá a <a href="https://unlp.edu.ar/relaciones-internacionales/">este link</a></h2>
    </LayoutBtns>
</Layout>