---
import UniBtn from "../../components/Uni-btn.astro";
import UniCard from "../../components/Uni-card.astro";
import UniMap from "../../components/Uni-map.astro";
import UniPgof from "../../components/Uni-pgof.astro";
import Layout from "../../layouts/Layout.astro";
---

<Layout title="UF-UBA">
  <UniCard Uni="UBA" , estado="/Publica.png" estadotxt="Publica">
    La UBA Fue fundada el 12 de agosto de 1821 por el gobernador de la provincia
    de Buenos Aires, Martín Rodríguez, y su ministro de gobierno, Bernardino
    Rivadavia. La UBA es la mayor universidad de Argentina y está considerada
    uno de los centros de estudios más prestigiosos de América y del mundo. Está
    conformada por 13 facultades, 6 establecimientos de educación secundaria,​ 8
    centros universitarios regionales, el Centro Cultural Ricardo Rojas, la
    Editorial Universitaria de Buenos Aires, el Cine Cosmos, 18 museos y 5
    unidades asistenciales Cuenta con un total de 85 carreras de grado y 116
    títulos derivados de aquellas (que constituyen un tercer nivel en la
    enseñanza), además de varias carreras de posgrado que son de cuarto nivel
    (especializaciones y maestrías), de quinto nivel (doctorados) y de sexto
    nivel (posdoctorados)
  </UniCard>
  <UniPgof uni="UBA" href="https://www.uba.ar" />
  <UniMap
    map="https://www.google.com/maps/d/u/0/embed?mid=1FwENuNI9UCW4JjrcF_dLHlCB-OuAgFo&ehbc=2E312F&noprof=1"
  />
  <UniBtn btn3="Talleres" btn4="Voluntariados" uni="uba" />

  <div class="facus">
    <h1>
      <strong>Facultades</strong>
    </h1>

    <input
      type="text"
      name="buscador"
      id="buscador"
      placeholder="Buscá una carrera..."
    />

    <article class="facus-container">
      <section>
        <div><h2>Facultad de Agronomía</h2></div>
        <ul>
          <li>Agronomía (5 años y medio)</li>
          <li>Licenciatura en Ciencias Ambientales (5 años)</li>
          <li>Licenciatura en Economía y Administración Agrarias (5 años)</li>
          <li>Licenciatura en Gestión de Agroalimentos (5 años)</li>
          <li>Licenciatura en Planificación y Diseño del Paisaje (5 años)</li>
          <li>Martillero y Corredor Público Rural (3 años)</li>
          <li>Tecnicatura en Floricultura (3 años)</li>
          <li>Tecnicatura en Jardinería (3 años)</li>
          <li>Tecnicatura en Producción Vegetal Orgánica (3 años)</li>
          <li>Tecnicatura en Turismo Rural (3 años)</li>
        </ul>
      </section>

      <section>
        <div><h2>Facultad de Arquitectura, Diseño y Urbanismo</h2></div>
        <ul>
          <li>Arquitectura (6 años)</li>
          <li>Diseño de Imagen y Sonido (5 años)</li>
          <li>Diseño de Indumentaria (5 años)</li>
          <li>Diseño Gráfico (5 años)</li>
          <li>Diseño Industrial (5 años)</li>
          <li>Diseño Textil (5 años)</li>
          <li>Licenciatura en Planificación y Diseño del Paisaje (5 años)</li>
        </ul>
      </section>

      <section>
        <div><h2>Facultad de Ciencias Económicas</h2></div>
        <ul>
          <li>Actuario (5 años)</li>
          <li>Contador Público (5 años)</li>
          <li>Licenciatura en Administración (5 años)</li>
          <li>Licenciatura en Economía (5 años)</li>
          <li>
            Licenciatura en Sistemas de Información de las Organizaciones (5
            años)
          </li>
        </ul>
      </section>

      <section>
        <div><h2>Facultad de Ciencias Exactas y Naturales</h2></div>
        <ul>
          <li>Ingeniería de Alimentos (5 años)</li>
          <li>Licenciatura en Ciencia y Tecnología de Alimentos (5 años)</li>
          <li>Licenciatura en Ciencias Biológicas (5 años)</li>
          <li>Licenciatura en Ciencias de Datos (5 años)</li>
          <li>Licenciatura en Ciencias de la Atmósfera (5 años)</li>
          <li>Licenciatura en Ciencias de la Computación (5 años)</li>
          <li>Licenciatura en Ciencias Físicas (5 años)</li>
          <li>Licenciatura en Ciencias Geológicas (5 años)</li>
          <li>Licenciatura en Ciencias Matemáticas (5 años)</li>
          <li>Licenciatura en Ciencias Oceanográficas (5 años)</li>
          <li>Licenciatura en Ciencias Químicas (5 años)</li>
          <li>Licenciatura en Paleontología (5 años)</li>
          <li>
            Profesorado de Enseñanza Media y Superior en Ciencias de la
            Atmósfera (5 años)
          </li>
          <li>
            Profesorado de Enseñanza Media y Superior en Ciencias de la
            Computación (5 años)
          </li>
          <li>
            Profesorado de Enseñanza Media y Superior en Biología (5 años)
          </li>
          <li>
            Profesorado de Enseñanza Media y Superior en Ciencias Geológicas (5
            años)
          </li>
          <li>Profesorado de Enseñanza Media y Superior en Física (5 años)</li>
          <li>
            Profesorado de Enseñanza Media y Superior en Matemática (5 años)
          </li>
          <li>Profesorado de Enseñanza Media y Superior en Química (5 años)</li>
        </ul>
      </section>

      <section>
        <div><h2>Facultad de Ciencias Sociales</h2></div>
        <ul>
          <li>Licenciatura en Antropología (5 años)</li>
          <li>Licenciatura en Ciencia Política (5 años)</li>
          <li>Licenciatura en Ciencias de la Comunicación (5 años)</li>
          <li>Licenciatura en Relaciones del Trabajo (5 años)</li>
          <li>Licenciatura en Sociología (5 años)</li>
          <li>Licenciatura en Trabajo Social (5 años)</li>
        </ul>
      </section>

      <section>
        <div><h2>Facultad de Ciencias Veterinarias</h2></div>
        <ul>
          <li>Medicina Veterinaria (6 años)</li>
          <li>Licenciatura en Producción Animal (5 años)</li>
          <li>Tecnicatura en Producción Apícola (3 años)</li>
          <li>Tecnicatura en Producción Porcina (3 años)</li>
        </ul>
      </section>

      <section>
        <div><h2>Facultad de Derecho</h2></div>
        <ul>
          <li>Abogacía (5 años)</li>
          <li>
            Licenciatura en Ciencia Política y Relaciones Internacionales (5
            años)
          </li>
          <li>Licenciatura en Relaciones Internacionales (5 años)</li>
          <li>Procuración (4 años)</li>
        </ul>
      </section>

      <section>
        <div><h2>Facultad de Farmacia y Bioquímica</h2></div>
        <ul>
          <li>Bioquímica (5 años)</li>
          <li>Farmacia (5 años)</li>
          <li>Licenciatura en Ciencia y Tecnología de Alimentos (5 años)</li>
          <li>Licenciatura en Análisis Clínicos (5 años)</li>
          <li>Licenciatura en Bromatología (5 años)</li>
          <li>Licenciatura en Cosmetología (5 años)</li>
          <li>Licenciatura en Nutrición (5 años)</li>
          <li>Licenciatura en Química (5 años)</li>
          <li>Tecnicatura en Análisis Clínicos (3 años)</li>
          <li>Tecnicatura en Bromatología (3 años)</li>
          <li>Tecnicatura en Cosmetología (3 años)</li>
          <li>Tecnicatura en Nutrición (3 años)</li>
          <li>Tecnicatura en Química (3 años)</li>
        </ul>
      </section>

      <section>
        <div><h2>Facultad de Filosofía y Letras</h2></div>
        <ul>
          <li>Licenciatura en Bibliotecología (4 años)</li>
          <li>Licenciatura en Ciencias Antropológicas (5 años)</li>
          <li>Licenciatura en Ciencias de la Educación (4 años)</li>
          <li>Licenciatura en Ciencias Históricas (5 años)</li>
          <li>Licenciatura en Edición (4 años)</li>
          <li>Licenciatura en Filosofía (4 años)</li>
          <li>Licenciatura en Geografía (5 años)</li>
          <li>Licenciatura en Letras (5 años)</li>
          <li>Licenciatura en Lenguas y Literaturas Clásicas (5 años)</li>
          <li>Licenciatura en Lenguas y Literaturas Modernas (5 años)</li>
          <li>Licenciatura en Lingüística (5 años)</li>
          <li>Licenciatura en Museología (5 años)</li>
          <li>Licenciatura en Psicopedagogía (4 años)</li>
          <li>
            Profesorado de Enseñanza Media y Superior en Bibliotecología (4
            años)
          </li>
          <li>
            Profesorado de Enseñanza Media y Superior en Ciencias de la
            Educación (4 años)
          </li>
          <li>
            Profesorado de Enseñanza Media y Superior en Ciencias Antropológicas
            (5 años)
          </li>
          <li>
            Profesorado de Enseñanza Media y Superior en Filosofía (4 años)
          </li>
          <li>
            Profesorado de Enseñanza Media y Superior en Geografía (5 años)
          </li>
          <li>
            Profesorado de Enseñanza Media y Superior en Historia (5 años)
          </li>
          <li>Profesorado de Enseñanza Media y Superior en Letras (5 años)</li>
          <li>
            Profesorado de Enseñanza Media y Superior en Lenguas y Literaturas
            Clásicas (5 años)
          </li>
          <li>
            Profesorado de Enseñanza Media y Superior en Lenguas y Literaturas
            Modernas (5 años)
          </li>
          <li>
            Profesorado de Enseñanza Media y Superior en Lingüística (5 años)
          </li>
          <li>
            Profesorado de Enseñanza Media y Superior en Psicopedagogía (4 años)
          </li>
          <li>Tecnicatura en Bibliotecología (3 años)</li>
          <li>Tecnicatura en Gestión Cultural (3 años)</li>
          <li>Tecnicatura en Lengua y Cultura Inglesa (3 años)</li>
          <li>Tecnicatura en Lengua y Cultura Italiana (3 años)</li>
          <li>Tecnicatura en Lengua y Cultura Portuguesa (3 años)</li>
        </ul>
      </section>

      <section>
        <div><h2>Facultad de Ingeniería</h2></div>
        <ul>
          <li>Ingeniería en Agrimensura (5 años)</li>
          <li>Ingeniería Civil (5 años)</li>
          <li>Ingeniería de Alimentos (5 años)</li>
          <li>Ingeniería Electricista (5 años)</li>
          <li>Ingeniería Electrónica (5 años)</li>
          <li>Ingeniería en Informática (5 años)</li>
          <li>Ingeniería en Petróleo (5 años)</li>
          <li>Licenciatura en Análisis de Sistemas (4 años)</li>
          <li>Licenciatura en Ciencias de la Computación (5 años)</li>
          <li>Licenciatura en Ciencias Físicas (5 años)</li>
          <li>Licenciatura en Ciencias Matemáticas (5 años)</li>
          <li>Licenciatura en Ciencias Químicas (5 años)</li>
          <li>
            Profesorado de Enseñanza Media y Superior en Ciencias de la
            Computación (5 años)
          </li>
          <li>Profesorado de Enseñanza Media y Superior en Física (5 años)</li>
          <li>
            Profesorado de Enseñanza Media y Superior en Matemática (5 años)
          </li>
          <li>Profesorado de Enseñanza Media y Superior en Química (5 años)</li>
        </ul>
      </section>

      <section>
        <div><h2>Facultad de Medicina</h2></div>
        <ul>
          <li>Medicina (6 años)</li>
          <li>Licenciatura en Enfermería (4 años)</li>
          <li>Licenciatura en Fonoaudiología (4 años)</li>
          <li>Licenciatura en Kinesiología y Fisiatría (5 años)</li>
          <li>Licenciatura en Obstetricia (4 años)</li>
          <li>Licenciatura en Nutrición (5 años)</li>
          <li>Licenciatura en Terapia Ocupacional (5 años)</li>
          <li>Tecnicatura en Anestesia (3 años)</li>
          <li>Tecnicatura en Esterilización (3 años)</li>
          <li>Tecnicatura en Hemoterapia (3 años)</li>
          <li>Tecnicatura en Instrumentación Quirúrgica (3 años)</li>
          <li>Tecnicatura en Producción de Bioimágenes (3 años)</li>
          <li>Tecnicatura en Prácticas Cardiológicas (3 años)</li>
        </ul>
      </section>

      <section>
        <div><h2>Facultad de Odontología</h2></div>
        <ul>
          <li>Odontología (6 años)</li>
          <li>Licenciatura en Prótesis Dental (5 años)</li>
          <li>Tecnicatura en Asistencia Odontológica (3 años)</li>
          <li>Tecnicatura en Prótesis Dental (3 años)</li>
        </ul>
      </section>

      <section>
        <div><h2>Facultad de Psicología</h2></div>
        <ul>
          <li>Licenciatura en Psicología (5 años)</li>
          <li>Licenciatura en Psicopedagogía (4 años)</li>
          <li>Tecnicatura en Acompañamiento Terapéutico (3 años)</li>
          <li>Tecnicatura en Psicogerontología (3 años)</li>
        </ul>
      </section>
    </article>
    <h1 id="NoCarrera">¡No hay ninguna carrera con ese nombre!</h1>
  </div>
</Layout>

<style>
  .facus {
    text-align: center;
  }

  .facus h1 {
    margin: 50px;
    font-size: 40px;
  }

  input {
    width: 600px;
    height: 70px;
    font-size: 1.6rem;
    border-radius: 50px;
    text-indent: 20px;
    margin-bottom: 30px;
  }

  #NoCarrera {
    display: none;
  }

  .facus-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(420px, 1fr));
    padding: 15px;
    gap: 15px;
  }

  .facus-container section {
    height: auto;
    text-align: start;
    border-radius: 10px;
    background-color: rgb(233, 233, 233);
    box-shadow: 3px 5px 10px rgba(0, 0, 0, 0.395);
  }

  .facus-container section h2 {
    height: 107px;
    text-align: center;
	justify-content: center;
    padding: 15px;
    margin-bottom: 20px;
    color: white;
    background: linear-gradient(to top, #2f9ef7, rgb(1 17 255));
    border-radius: 10px 10px 0 0;
    font-size: 30px;
  }

  section ul {
    margin-left: 30px;
    font-size: 1.4rem;
  }

  section ul li {
    margin-bottom: 10px;
  }

  .filtro {
    display: none;
  }

  @media (width < 700px) {
    input {
      width: 400px;
      font-size: 1.4rem;
    }
  }

  @media (width < 460px) {
    input {
      width: 290px;
      height: 50px;
    }

    .facus h1 {
      font-size: 1.9rem;
    }

    .facus-container {
      grid-template-columns: 1fr;
    }
    .facus-container section h2 {
      padding: 20px;
      height: auto;
      font-size: 1.5rem;
    }
    section ul {
      font-size: 1rem;
    }
  }
</style>

<script>
  // Obtener el elemento HTML vacío donde se quiere insertar el texto
  let Nocarrera = document.getElementById("NoCarrera")!;
  // Añadir el tipo Event al parámetro e
  document.addEventListener("keyup", (e: Event) => {
    // Usar una aserción de tipo para acceder a las propiedades del evento de teclado
    if ((e.target as HTMLInputElement).matches("#buscador")) {
      // Usar otra aserción de tipo para acceder a la propiedad key
      if ((e as KeyboardEvent).key === "Escape")
        (e.target as HTMLInputElement).value = "";
      // Añadir el tipo NodeListOf<HTMLElement> a la variable carrera
      const carrera: NodeListOf<HTMLElement> = document.querySelectorAll("li");
      // Añadir una variable para almacenar el resultado del filtro
      let resultado: HTMLElement[] = [];
      carrera.forEach((carrera) => {
        carrera
          .textContent!.toLowerCase()
          .includes((e.target as HTMLInputElement).value.toLowerCase())
          ? carrera.classList.remove("filtro")
          : carrera.classList.add("filtro");
        // Añadir los elementos que no tienen la clase filtro al resultado
        if (!carrera.classList.contains("filtro")) {
          resultado.push(carrera);
        }
      });
      // Añadir el tipo NodeListOf<HTMLElement> a la variable section
      const section: NodeListOf<HTMLElement> = document.querySelectorAll("section");
      section.forEach((section) => {
        // Contar el número de elementos li dentro del section
        const liCount = section.querySelectorAll("li").length;
        // Contar el número de elementos li con la clase filtro dentro del section
        const filtroCount = section.querySelectorAll("li.filtro").length;
        // Si son iguales, significa que todos los li están ocultos
        if (liCount === filtroCount) {
          // Aplicar la clase filtro al section para ocultarlo también
          section.classList.add("filtro");
        } else {
          // Quitar la clase filtro al section para mostrarlo
          section.classList.remove("filtro");
        }
      });
      // Comprobar si el resultado está vacío o no
      if (resultado.length === 0) {
        // Mostrar el elemento HTML vacío con el texto
      Nocarrera.style.display="block"
      } else {
        Nocarrera.style.display="none"
      }
    }
  });
  
  </script>