---
import UniBtn from "../../components/Uni-btn.astro";
import UniCard from "../../components/Uni-card.astro";
import UniMap from "../../components/Uni-map.astro";
import UniPgof from "../../components/Uni-pgof.astro";
import Layout from "../../layouts/Layout.astro";
---

<Layout title="UF-UCALP">
  <UniCard Uni="UCALP" estado="/Privada.png" estadotxt="Privada">
    Enfrentamos grandes desafíos, desde el ámbito educativo y personal, y
    trabajamos diariamente para adaptarnos a estos nuevos y modernos tiempos que
    nos toca vivir.
    <br />
    En nuestra Universidad, encontrarán un espacio ideal para la formación integral
    de nuestros alumnos dentro de los valores personales según el modelo cristiano.¡Sean
    bienvenidos! Y sigamos educando juntos, desde la Universidad Católica de La Plata,
    a los ciudadanos del mañana.
    <br />
    <br />
    Nuestro sistema de becas contempla las situaciones de cada uno, las pasantías
    que colaboran con la inserción laboral de nuestros alumnos, eldeporte como espacio
    de encuentro y el intercambio internacional que permiten el contacto con otras
    culturas, completan una porpuesta accesible, humana y práctica.
  </UniCard>
  <UniPgof uni="UCALP" href="https://www.ucalp.edu.ar" />
  <UniMap
    map="https://www.google.com/maps/d/u/0/embed?mid=1PwU8bzxJFL22Nbsy6NzwQy37aVylc0c&ehbc=2E312F&noprof=1"
  />
  <UniBtn btn3="Tutorías" btn4="Rel. Inter" uni="ucalp" />

  <div class="facus">
    <h1>
      <strong>Facultades</strong>
    </h1>

    <input
      type="text"
      name="buscador"
      id="buscador"
      placeholder="Buscá una carrera..."
    />

    <article class="facus-container">
      <section>
        <div><h2>Facultad de Derecho y Ciencias Políticas</h2></div>
        <ul>
          <li>Abogacía (5 años)</li>
          <li>
            Licenciatura en Ciencia Política y Relaciones Internacionales (5
            años)
          </li>
          <li>Licenciatura en Criminalística (5 años)</li>
          <li>Escribanía (4 años)</li>
          <li>Martillero y Corredor de Comercio (3 años)</li>
          <li>Licenciatura en Seguridad (4 años)</li>
          <li>Ciclo de Licenciatura en Seguridad (2 años)</li>
        </ul>
      </section>

      <section>
        <div><h2>Facultad de Ciencias de la Salud</h2></div>
        <ul>
          <li>Licenciatura en Fonoaudiología (5 años)</li>
          <li>Licenciatura en Kinesiología y Fisiatría (5 años)</li>
          <li>Licenciatura en Nutrición (5 años)</li>
          <li>Licenciatura en Obstetricia (5 años)</li>
          <li>Licenciatura en Terapia Ocupacional (5 años)</li>
          <li>Ciclo de Licenciatura en Fonoaudiología (2 años)</li>
          <li>Ciclo de Licenciatura en Obstetricia (2 años)</li>
          <li>Ciclo de Licenciatura en Instrumentación Quirúrgica (2 años)</li>
        </ul>
      </section>

      <section>
        <div><h2>Facultad de Arquitectura y Diseño</h2></div>
        <ul>
          <li>Arquitectura (6 años)</li>
          <li>Licenciatura en Diseño de Interiores (4 años)</li>
          <li>Licenciatura en Diseño Visual (4 años)</li>
          <li>Ciclo de Licenciatura en Diseño de Interiores (2 años)</li>
        </ul>
      </section>

      <section>
        <div><h2>Facultad de Humanidades</h2></div>
        <ul>
          <li>Profesorado Universitario en Letras (4 años)</li>
          <li>Licenciatura en Letras (4 años)</li>
          <li>Licenciatura en Ciencias de la Educación (4 años)</li>
          <li>Licenciatura en Psicología (5 años)</li>
          <li>Licenciatura en Periodismo (4 años)</li>
          <li>Profesorado en Educación Física (4 años)</li>
          <li>Licenciatura en Psicopedagogía (4 años)</li>
          <li>Licenciatura en Filosofía (4 años)</li>
          <li>Ciclo de Licenciatura en Ciencias de la Educación (2 años)</li>
          <li>Ciclo de Licenciatura en Psicopedagogía (2 años)</li>
          <li>Filosofía (Ciclo de Licenciatura) (2 años)</li>
          <li>Ciclo de Licenciatura en Educación Física (2 años)</li>
          <li>Ciclo de Profesorado Universitario (2 años)</li>
          <li>
            Tecnicatura Universitaria en Entrenamiento Deportivo y Alto
            Rendimiento (3 años)
          </li>
          <li>Tecnicatura Universitaria en Periodismo Deportivo (3 años)</li>
          <li>
            Diplomatura en Tutoría para la Educación Secundaria y Superior (2
            cuatrimestres)
          </li>
          <li>Licenciatura en Filosofía a Distancia (4 años)</li>
          <li>Ciclo de Licenciatura en Filosofía a Distancia (2 años)</li>
        </ul>
      </section>

      <section>
        <div><h2>Facultad de Ciencias Económicas y Sociales</h2></div>
        <ul>
          <li>Licenciatura en Administración Pública (4 años)</li>
          <li>Licenciatura en Administración de Empresas (4 años)</li>
          <li>Licenciatura en Comercialización (4 años)</li>
          <li>Contador Público (5 años)</li>
          <li>Licenciatura en Economía (5 años)</li>
          <li>Licenciatura en Gestión de Recursos Humanos (4 años)</li>
          <li>Licenciatura en Relaciones Públicas (4 años)</li>
          <li>Licenciatura en Turismo (4 años)</li>
          <li>Ciclo de Licenciatura en Recursos Humanos (2 años)</li>
          <li>Diplomatura en Comunicación Estratégica (2 cuatrimestres)</li>
          <li>Diplomatura en Auditoría Gubernamental (2 cuatrimestres)</li>
        </ul>
      </section>
      <section>
        <div><h2>Facultad de Odontología</h2></div>
        <ul>
          <li>Odontología (6 años)</li>
          <li>Licenciatura en Prótesis Dental (5 años)</li>
          <li>Tecnicatura Universitaria en Asistencia Odontológica (3 años)</li>
          <li>Tecnicatura Universitaria en Prótesis Dental (3 años)</li>
        </ul>
      </section>

      <section>
        <div><h2>Facultad de Ingeniería y Ciencias Exactas</h2></div>
        <ul>
          <li>Ingeniería Civil (5 años)</li>
          <li>Ingeniería Electromecánica (5 años)</li>
          <li>Ingeniería Eléctrica (5 años)</li>
          <li>Ingeniería Electrónica (5 años)</li>
          <li>Ingeniería Industrial (5 años)</li>
          <li>Ingeniería Química (5 años)</li>
          <li>Licenciatura en Sistemas (5 años)</li>
          <li>Analista en Sistemas (3 años)</li>
          <li>
            Tecnicatura Universitaria en Administración Industrial (3 años)
          </li>
          <li>
            Tecnicatura Universitaria en Automatización y Control (3 años)
          </li>
          <li>Tecnicatura Universitaria en Construcciones Civiles (3 años)</li>
          <li>Tecnicatura Universitaria en Electricidad Industrial (3 años)</li>
          <li>Tecnicatura Universitaria en Electrónica Industrial (3 años)</li>
          <li>
            Tecnicatura Universitaria en Higiene y Seguridad en el Trabajo (3
            años)
          </li>
          <li>Tecnicatura Universitaria en Mecánica (3 años)</li>
          <li>Tecnicatura Universitaria en Química (3 años)</li>
        </ul>
      </section>
    </article>
    <h1 id="NoCarrera">¡No hay ninguna carrera con ese nombre!</h1>
  </div>
</Layout>

<style>
  .facus {
    text-align: center;
  }

  .facus h1 {
    margin: 50px;
    font-size: 40px;
  }

  input {
    width: 600px;
    height: 70px;
    font-size: 1.6rem;
    border-radius: 50px;
    text-indent: 20px;
    margin-bottom: 30px;
  }

  #NoCarrera {
    display: none;
  }

  .facus-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(420px, 1fr));
    padding: 15px;
    gap: 15px;
  }

  .facus-container section {
    height: auto;
    text-align: start;
    border-radius: 10px;
    background-color: rgb(233, 233, 233);
    box-shadow: 3px 5px 10px rgba(0, 0, 0, 0.395);
  }

  .facus-container section h2 {
    height: 107px;
    text-align: center;
    justify-content: center;
    padding: 15px;
    margin-bottom: 20px;
    color: white;
    background: linear-gradient(to top, #2f9ef7, rgb(1 17 255));
    border-radius: 10px 10px 0 0;
    font-size: 30px;
  }

  section ul {
    margin-left: 30px;
    font-size: 1.4rem;
  }

  section ul li {
    margin-bottom: 10px;
  }

  .filtro {
    display: none;
  }

  @media (width < 700px) {
    input {
      width: 400px;
      font-size: 1.4rem;
    }
  }

  @media (width < 460px) {
    input {
      width: 290px;
      height: 50px;
    }

    .facus h1 {
      font-size: 1.9rem;
    }

    .facus-container {
      grid-template-columns: 1fr;
    }
    .facus-container section h2 {
      padding: 20px;
      height: auto;
      font-size: 1.5rem;
    }
    section ul {
      font-size: 1rem;
    }
  }
</style>

<script>
  document.addEventListener('astro:page-load', () => {
  // Obtener el elemento HTML vacío donde se quiere insertar el texto
  let Nocarrera = document.getElementById("NoCarrera")!;
  // Añadir el tipo Event al parámetro e
  document.addEventListener("keyup", (e: Event) => {
    // Usar una aserción de tipo para acceder a las propiedades del evento de teclado
    if ((e.target as HTMLInputElement).matches("#buscador")) {
      // Usar otra aserción de tipo para acceder a la propiedad key
      if ((e as KeyboardEvent).key === "Escape")
        (e.target as HTMLInputElement).value = "";
      // Añadir el tipo NodeListOf<HTMLElement> a la variable carrera
      const carrera: NodeListOf<HTMLElement> = document.querySelectorAll("li");
      // Añadir una variable para almacenar el resultado del filtro
      let resultado: HTMLElement[] = [];
      carrera.forEach((carrera) => {
        carrera
          .textContent!.toLowerCase()
          .includes((e.target as HTMLInputElement).value.toLowerCase())
          ? carrera.classList.remove("filtro")
          : carrera.classList.add("filtro");
        // Añadir los elementos que no tienen la clase filtro al resultado
        if (!carrera.classList.contains("filtro")) {
          resultado.push(carrera);
        }
      });
      // Añadir el tipo NodeListOf<HTMLElement> a la variable section
      const section: NodeListOf<HTMLElement> =
        document.querySelectorAll("section");
      section.forEach((section) => {
        // Contar el número de elementos li dentro del section
        const liCount = section.querySelectorAll("li").length;
        // Contar el número de elementos li con la clase filtro dentro del section
        const filtroCount = section.querySelectorAll("li.filtro").length;
        // Si son iguales, significa que todos los li están ocultos
        if (liCount === filtroCount) {
          // Aplicar la clase filtro al section para ocultarlo también
          section.classList.add("filtro");
        } else {
          // Quitar la clase filtro al section para mostrarlo
          section.classList.remove("filtro");
        }
      });
      // Comprobar si el resultado está vacío o no
      if (resultado.length === 0) {
        // Mostrar el elemento HTML vacío con el texto
        Nocarrera.style.display = "block";
      } else {
        Nocarrera.style.display = "none";
      }
    }
  });
});
</script>
