---
import Layout from "../../layouts/Layout.astro";

---

<Layout title="UF-UNLP">
    <div class="flex-container">
        <div class="unis-flex" id="unis-flex-izq">
          <img src="/rectorado-institucional.jpg" id="uni-img" alt="">
        </div>
        <div class="unis-flex" id="unis-flex-der">
          <div id="uni-name">
            <h2>UNLP</h2>
          </div>
          <h4>La Universidad Nacional de La Plata, fundada en 1905 por el doctor Joaquín Víctor González, surge de la
            confluencia de la interpretación tradicional del término "Universidad", como ámbito natural del saber y la idea
            actualizada del conocimiento científico de base experimental, social y artístico en sus distintas expresiones.
          </h4>
          <h4>La oferta académica de la UNLP incluye 111 carreras de grado -157 títulos- y 170 de posgrado (el 85% están
            acreditadas o en trámite, por la Comisión Nacional de Evaluación y Acreditación Universitaria –CONEAU-), además
            de unos 500 cursos de posgrado. Entre carreras y cursos recibe unos 22.000 alumnos de posgrado. Además cuenta
            con 100 cátedras libres dependientes de la Presidencia, que se suman a las muchas que funcionan en las
            Facultades.</h4><br>
    
          <div class="priv-pub">
            <img src="/Publica.png" id="priv-pub-img">
            <h5 id="priv-pub-txt">Publica</h5>
          </div>
        </div>
      </div>
</Layout>

<style>
        .flex-container {
      display: flex;
      flex-wrap: wrap;
      width: 100%;
      margin-bottom: 30px;
    }

    .unis-flex {
      border: 0.7px solid rgb(31, 30, 30);

      margin: 0 auto;
      height: 506px;
      /*     border: 2px solid black;
   */
    }

    .unis-content {
      height: 100%;
    }

    .unis-flex img {
      max-width: 100%;
      height: 100%;
      width: auto;
    }

    #unis-flex-der {
      padding-left: 20px;
      color: aliceblue;
      flex-grow: calc(1);
      width: 40%;
      background: rgb(3, 3, 117);
      height: auto;
      /*     color: #fff;
 */
    }

    #unis-flex-der h3 {
      margin-bottom: 10px;
      font-size: 25px;
      font-size: 150%;
    }

    #unis-flex-der h2 {
      margin-top: 1rem;
      text-align: center;
      color: aliceblue;
      font-size: 40px;
    }

    .priv-pub {
    display: flex;
}

#priv-pub-img {
    width: 20px;
    height: 20px;
}

@media screen and (max-width: 1050px) {
      #unis-flex-der h3 {
        font-size: 20px;
      }
      
      .unis-flex img {
        width: 400px;
      }

      #uni-img {
        height: auto;
      }
    }

    @media screen and (max-width: 732px) {
      #unis-flex-der {
        padding: 5px;
        height: auto;
      }
    }

    @media screen and (max-width: 720px) {
      #unis-flex-der h3 {
        font-size: 15px;
      }

      .uf-presentacion span {
        font-size: 6rem;
        color: rgb(38, 73, 245);
        border-bottom: 0px;
        -webkit-text-stroke: rgb(6, 187, 237); /* para Chrome y Safari */
        text-stroke: rgb(6, 187, 237);
      }
    }

    @media screen and (max-width: 668px) {
      #unis-flex-der {
        height: 400px;
        margin-top: 0px;
      }
    }

    @media screen and (max-width: 620px) {
      .uf-presentacion span {
        font-size: 5rem;
      }

      .uf-presentacion {
        height: 500px;
      }

      .test-voc a {
        display: block;
      }
    }

    @media screen and (max-width: 410px) {
      .uf-presentacion span {
        font-size: 4rem;
      }
    }

    @media screen and (max-width: 550px) {
      .unis-flex img {
        width: 400px;
      }

      #uni-img {
        height: auto;
      }
    }
    @media screen and (max-width: 385px) {
      .uf-presentacion {
        height: 500px;
      }
      .uf-presentacion span {
        font-size: 4rem;
      }
    }

    @media screen and (max-width: 363px) {
      .Logo-uni {
        padding-right: 0;
        padding-left: 0;
        margin-top: 10px;
      }
    }

    @media screen and (max-width: 325px) {
      .uf-presentacion span {
        font-size: 3.8rem;
      }
    }
</style>