---
import LayoutBtns from "../../../layouts/Layout-btns.astro";
import Layout from "../../../layouts/Layout.astro";

---

<Layout title="Talleres - UNLP">
    <LayoutBtns uni="unlp" btn="talleres">
        <h2><strong>Talleres Vení a la UNLP</strong></h2>
        <h3>El Taller de Vení a la UNLP es la propuesta de la DVNM que busca indagar y profundizar en aspectos
          relacionados con la vida universitaria a través del diálogo, juegos y actividades. Allí se abordan distintas
          temáticas como autonomía, toma de decisiones, estrategias para prepararse ante una evaluación, planes de
          estudio, entre otras.
          <br><br>
          Si bien el Taller es abierto a la comunidad, está pensado para estudiantes del nivel secundario que están
          próximos a ingresar a la formación superior universitaria.
          <br>
          <br>
          Pueden asistir a los mismos: estudiantes de manera particular o cursos acompañados por un responsable de la
          institución.
          <br>
          <br>
          También, ofrecemos la posibilidad de realizar visitas guiadas a las facultades. En las mismas, se recorren
          puntos clave de los edificios y se informa acerca de las carreras que ofrece la facultad escogida.
          <br>
          <br>
          Para coordinar la visita, es condición que un responsable de la institución del curso anote al mismo en el
          formulario google de Talleres, y lo acompañe en la fecha y horario escogidos.
          <br>
          <br>
          La idea es que puedan hacer el recorrido al finalizar el Taller o previo al mismo.
        </h3>
        <br>
        <h2>Para +Info entrá <a href="https://unlp.edu.ar/gestion/bienestar_universitario/veni-a-la-unlp/talleres-veni-a-la-unlp-58648/">ACÁ</a></h2>
    </LayoutBtns>
</Layout>