---
import Layout from "../../../layouts/Layout.astro";
import LayoutBtns from "../../../layouts/Layout-btns.astro";
---

<Layout title="Talleres - UBA">
 <LayoutBtns uni="UBA" btn="Talleres">
    <h2><strong>Los talleres que dicta el programa son:</strong></h2>
    <h2>Técnicas de estudio</h2>
    <h3>
      El taller de Técnicas de Estudio brinda las herramientas necesarias para preparar trabajos prácticos, monografías y a estudiar para los exámenes parciales y finales.
    </h3>
    <h2>¿Qué ofrece?</h2>
    <br>
    <h3>El taller afronta los diferentes problemas que surgen al momento de abordar el material de estudio, la lectura, el análisis de textos, la relación entre teoría y práctica, entre otros. Durante el taller incorporamos herramientas y estrategias como la identificación de definiciones e ideas, el trabajo de investigación y complemento, la síntesis a partir de la elaboración de mapas conceptuales y la exposición de conceptos.
    </h3>
    <h2>Duración</h2>
    <h3>
      Este taller tiene una duración de de 4 a 6 encuentros
    </h3>
<br>
    <h2>Redacción Académica Universitaria</h2>
    <h3>
      Estudiar en la universidad conlleva un cambio en las formas de aprender y en la dinámica de clases que se aleja del modo de trabajo en la escuela secundaria. El abordaje de textos de cierta dificultad, la articulación de autores, las clases expositivas en las que hay que tomar apuntes, la necesidad de expresarse en forma oral a la hora de dar un final o producir un escrito que refleje lo estudiado, son exigencias del día a día universitario.
    </h3>
    <h2>¿Qué ofrece?</h2>
    <br>
    <h3>
      El taller te permite reforzar tus capacidades de expresión oral y escrita siguiendo un registro académico y desarrollar habilidades vinculadas a la lecto-comprensión de textos universitarios.
    </h3>
    <h2>Duración</h2>
    <h3>
      Este taller tiene una duración de 4 encuentros.
    </h3>
<br>
    <h2>Fotografía</h2>
    <h3>
      El curso de iniciación a la fotografía brinda herramientas básicas vinculadas a la técnica fotográfica y busca incentivar la creatividad personal a través del trabajo con imágenes.
    </h3>
    <h2>¿Qué ofrece?</h2>
    <br>
    <h3>
      Durante la cursada, vas a poder explorar los siguientes contenidos: Historia de la fotografía, la luz como elemento fundamental, tipos de cámaras, procesos en la toma fotográfica, partes de una cámara y su funcionamiento, sensibilidad ISO, profundidad de campo, iluminación, temperatura del color, balance de blancos, flash, fotografía de alta y baja velocidad, fotografía monocromática, blanco y negro. Composición: punto, línea, forma, contorno, dirección. Reglas de la composición, tipos de plano, retrato. introducción al Fotoperiodismo.
    </h3>
    <h2>Duración</h2>
    <h3>
      Este taller tiene una duración 8 encuentros.
    </h3>
<br>
    <h2>Radio</h2>
    <h3>
      Dictado por el periodista deportivo Emiliano Pinsón, el taller inicial de Radio brinda las nociones y herramientas básicas para la realización de un programa de radio.
    </h3>
    <h2>¿Qué ofrece?</h2>
    <br>
    <h3>
      Durante la cursada, vas a poder poner en práctica lo aprendido a través de la creación de un programa que será puesto al aire en Conecta Estudio, la emisora de radio online del Ciclo Básico Común.
    </h3>
    <h2>Duración</h2>
    <h3>
      Este taller tiene una duración de 6 encuentros.
    </h3>
    <h2>Para +info entrá <a href="https://www.cbc.uba.ar/extension/talleres">ACÁ</a></h2>
 </LayoutBtns>
</Layout>