---
import LayoutBtns from "../../../layouts/Layout-btns.astro";
import Layout from "../../../layouts/Layout.astro";
---

<Layout title="Becas - UBA">
  <LayoutBtns uni="UBA" btn="Becas">
    <h2>
      <strong>Beca de ayuda económica Sarmiento</strong>
    </h2>
    <h2>¿Qué es?</h2>
    <h3>
      Es un cobro mensual de $20.000 que podés usarlo para viajar, comprar
      apuntes o lo que consideres necesario.
    </h3>
    <br />
    <h2>¿Qué otros beneficios brinda la beca?</h2>
    <h3>
      <ul>
        <li>No pagás ningún arancel en Tesorería.</li>
        <li>
          Atención sin cargo en el Hospital de Clínicas y el de Odontología.
        </li>
        <li>
          Descuentos en el Centro Cultural Rojas y en el Campo de Deportes UBA.
        </li>
      </ul>
    </h3>
    <br />
    <h2>¿Qué requisitos debo cumplir?</h2>
    <h3>
      <ul>
        <li>Tener hasta 23 años de edad al momento de solicitarla.</li>
        <li>
          Tener nacionalidad argentina (nativa o por adopción) o extranjera con
          residencia permanente en el DNI.
        </li>
      </ul>
      <p>
        Ver requisitos adicionales al completar la solicitud de la Beca en las
        fechas estipuladas
      </p>
      <br />
      <h2>¿Cómo y cuándo puedo solicitarla?</h2>
      <h3>
        En las fechas estipuladas en el Calendario de SEUBE, accedé al portal de
        Trámites a Distancia, donde vas a poder registrarte para presentar tu
        solicitud de la Beca de ayuda económica Sarmiento.
      </h3>
      <h3>
        Enviá tu consulta a becas@cbc.uba.ar y te responderán a la brevedad.
      </h3>
    </h3>
    <h2>
      Para +info entrá <a href="https://www.cbc.uba.ar/extension/becas">ACÁ</a>
    </h2>
  </LayoutBtns>
</Layout>
