---
import LayoutBtns from "../../../layouts/Layout-btns.astro";
import Layout from "../../../layouts/Layout.astro";
---

<Layout title="Becas - UNLP">
  <LayoutBtns uni="UNLP" btn="Becas">
    <h2><strong>Igualdad de Oportunidades</strong></h2>
    <h3>
      <p>
        Promueven la igualdad de oportunidades para estudiar, facilitando el
        acceso y la permanencia de estudiantes que se encuentran en una
        situación socioeconómica vulnerable:
        <ul>
          <li>Ayuda Económica</li>
          <li>Estudiantes con Hijxs</li>
          <li>Estudiantes Inquilinxs</li>
          <li>Estudiantes con alguna Discapacidad</li>
          <li>Bicicleta Universitaria</li>
          <li>Tu PC para Estudiar</li>
          <li>Conectividad</li>
          <li>Beca de Albergue</li>
          <li>Beca de Comedor Universitario</li>
        </ul>
      </p>
    </h3>

    <h2><strong>Comedor Universitario:</strong></h2>
    <h3>
      <p>
        UN PUNTO DE ENCUENTRO con estudiantes, docentes y no docentes de todas
        las facultades. En sus 4 sedes, podés acceder a un menú económico,
        subsidiado por la UNLP. Ofrece tanto almuerzo como cena, garantizando
        una alimentación completa y nutritiva. También cuenta con un menú para
        celíacxs.
      </p>
    </h3>

    <h2><strong>Albergue Universitario:</strong></h2>
    <h3>
      Es la beca más completa de la UNLP porque brinda alojamiento, cuatro
      comidas diarias y transporte en forma gratuita. Está destinada a
      ingresantes y a estudiantes de las carreras de grado, que carezcan de
      medios económicos suficientes, y tengan buen nivel académico y regularidad
      en sus estudios.
    </h3>
    <h2><strong>Salud Estudiantil UNLP</strong></h2>
    <h3>
      <p>Tramitando tu LIBRETA SANITARIA ESTUDIANTIL</p>
      , vas a poder recibir <strong>ATENCIÓN MÉDICA GRATUITA:</strong>
      <ul>
        <li>
          Clínica médica, psicológica, odontología, ginecología, obstreticia,
          fisioterapia y enfermería
        </li>
        <li>
          Entrega de medicamentos, preservativo, anteojos, (Programa SALUD
          VISUAL) y lentes de contacto
        </li>
        <li>Análisis de laboratorio</li>
        <li>Centro de vacunación</li>
        <li>Atención médica domiciliaria</li>
        <li>
          Consultorías, consejerías y programas de información/ prevención de
          enfermedades
        </li>
        <li>Seguro universitario de salud</li>
        <li>Programa de discapacidad</li>
      </ul>
    </h3>
  <h1 id="h1-second"><strong>Becas nacionales</strong></h1>
  <h2><strong>Becas progresar:</strong></h2>
  <h3>
    <p>
      Destinadas a estudiantes universitarixs, terciarixs, de formación
      profesional y para quienes desean terminar sus estudios primarios y/o
      secundarios. Depende del Ministerio de Educación de la Nación.
      <br />
      +Info: <a
        href="https://www.argentina.gob.ar/educacion/progresar"
        target="_blank">ACÁ</a
      >
    </p>
  </h3>
  <h2><strong>Becas Estratégicas Manuel Belgrano:</strong></h2>
  <h3>
    <p>
      Destinadas a promover el acceso, la permanencia y la finalización de
      estudios de grado y pregrado en áreas de política pública consideradas
      clave para el desarrollo económico del país y la igualdad social. Dependen
      del Minesterio de Educación de la Nación.
      <br />
      +Info: <a
        href="https://www.argentina.gob.ar/educacion/becas/becas-manuel-belgrano"
        target="_blank">ACÁ</a
      >
    </p>
  </h3>
  <h2><strong>Boleto Educativo Gratuito:</strong></h2>
  <h3>
    <p>
      Transladarse gratuitamente es un dereco adquirido a través de la
      Licenciatura estudiantil. Aquellxs estudiantes que cumplen con los
      requisitos dispuestos por el gobierno provincial, pueden solicitar el
      boleto. Depende del Gobierno de la Provincia de Buenos Aires.
      <br />
      +Info: <a
        href="https://www.gba.gob.ar/transporte/boleto_estudiantil"
        target="_blank">ACÁ</a
      >
    </p>
  </h3>
</LayoutBtns>
</Layout>