---
import Phone from "../components/icons/Phone.astro";
import Pin from "../components/icons/Pin.astro";
import Email from "../components/icons/Email.astro";
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
---

<Layout title="UniFinder">
  <div class="uf-presentacion">
    <div class="uf-presentacion-second">
      <span><strong>UniFinder</strong></span>
    </div>
  </div>
  <div class="uf-presentacion-unis">
    <h3>
      En esta página te daremos información de las siguientes universidades:
    </h3>
    <br />
    <img src="/Logo-UCALP.png" class="Logo-uni" alt="Logo de la UCALP" />
    <img src="/Logo-UNLP.png" class="Logo-uni" alt="Logo de la UNLP" />
    <img src="/Logo-UBA.png" class="Logo-uni" alt="Logo de la UBA" />
  </div>
  <Card uni="UNLP" href="Unlp">
    <slot>
        Con más de un siglo de trayectoria, sigue siendo pionera en estudios y
        desarrollos culturales, artísticos y científicos de avanzada. La
        docencia, la investigación y la extensión configuran los pilares básicos
        de esta Universidad. Actualmente cuenta con 17 Facultades, donde
        estudian 110 mil alumnos de grado. Posicionandola entre las mejores del
        mundo
      </slot>
      <slot name="Redes">
        <div class="redes">
      <p class="uf-info-uni">
        <Pin /> Direc: La Plata Av. 7 N° 776
      </p>
      <p class="uf-info-uni">
        <Phone /> Tel.: +54 221 611-9433
      </p>
    </div>
    </slot>
  </Card>
  <Card uni="UCALP" href="Ucalp">
    En nuestra Universidad, encontrarán un espacio ideal para la formación
    integral de nuestros alumnos dentro de los valores personales según el
    modelo cristiano.
    <slot name="Redes">
      <div class="redes">
      <p class="uf-info-uni">
        <Email /> Email: info@ucalp.edu.ar
      </p>
      <p class="uf-info-uni">
        <Pin /> Direc: Calle 13 nº 1227
      </p>
      <p class="uf-info-uni">
        <Phone /> Tel.: +54 221 439 3100
      </p>
    </div>
    </slot>
  </Card>

  <Card uni="UBA" href="Uba">
    La Universidad de Buenos Aires es una institución educativa de alto
    prestigio académico y profesional. Ser parte de la UBA es integrar una
    comunidad de cientos de miles estudiantes, graduados/as, investigadores/as y
    docentes con un alto grado de formación, rigurosidad y compromiso social.
    <slot name="Redes">
    <div class="redes">
      <p class="uf-info-uni">
        <Email /> Email: mesadeayudaee@rec.uba.ar
      </p>
      <p class="uf-info-uni">
        <Pin /> Direc: Viamonte 430, C1053 CABA
      </p>
      <p class="uf-info-uni">
        <Phone /> Tel.: +54 11 4510-1100
      </p>
    </div>
    </slot>
  </Card>
  <div id="test-voc" class="test-voc">
    <h2>Test Vocacional</h2>
    <h3>
      <p>
      Para aquellos que aún no se sienten seguros de qué es lo que quieren
      estudiar les dejamos acceso a equipos de orientación de las
      universidades que forman parte de nuestro proyecto y además una prueba
      virtual gratis para todos.
    </p>
    </h3>
    <h4>
      <a
        href="https://www.ucalp.edu.ar/orientacionvocacional/"
        target="_blank">Orientación de la Ucalp</a
      >
      <a
        href="https://www.cbc.uba.ar/orientacion-vocacional/actividades-secundaria/procesos"
        target="_blank">Orientación de la UBA</a
      >
      <a
        href="https://www.thecareertest.org/?gclid=CjwKCAjw29ymBhAKEiwAHJbJ8sO6Kt6QwosO9bLEBpyHZkRYOfrQAAQ9t6t9mgOBs-vn66CLk3ZuWxoCYjMQAvD_BwE"
        target="_blank">Test Virtual</a
      >
    </h4>
  </div>
</Layout>

<style>
  .redes {
    gap: 10px;
    display: flex;
    flex-direction: column;
  }

  .redes svg {
    width: 20px;
    height: 20px;
    margin-bottom:;
  }

  .uf-info-uni {
    font-size: 1.2rem;
  }

  .uf-info-uni:first-child {
    margin-top: 10px;
  }

  .uf-info-uni:last-child {
    margin-bottom: 30px;
  }

  .uf-presentacion {
    width: 100%;
    height: 100vh;
    background-image: var(--Imagebg-);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .uf-presentacion span {
    text-transform: uppercase;
    color: rgb(255, 255, 255);
    font-size: 8rem;
    letter-spacing: -3px;
    margin-bottom: 100px;
    color: rgb(255, 255, 255);
    -webkit-text-stroke: 0.1px rgb(1, 30, 117);
    text-stroke: 1px rgb(1, 30, 117);
    border-bottom: 6px solid rgb(1, 30, 117);
  }

  .uf-presentacion h6 {
    font-size: 20px;
  }

  .uf-presentacion-unis {
    width: 100%;
    text-align: center;
  }

  .uf-presentacion-unis h3 {
    text-align: center;
    margin-top: 10px;
    font-size: 28px;
  }

  .Logo-uni {
    padding-right: 10px;
    padding-left: 10px;
    margin: auto;
    width: 180px;
    margin-bottom: 30px;
  }

  #uf-info-uni {
    font-size: 20px;
  }

  .btn-uni {
    padding: 15px 20px;
    font-size: 17px;
    border-radius: 5px;
    border: none;
    text-decoration: none;
    color: aliceblue;
    background-color: rgb(0, 145, 255);
  }

  .btn-uni:hover {
    cursor: pointer;
    background-color: rgb(0, 115, 255);
  }

  .test-voc {
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
    padding: 10px;
  }
  
    .test-voc h2 {
      font-size: 32px;
    }

  .test-voc p {
    margin: 20px 0;
    text-wrap: pretty;
    font-size: 26px;
  }

  .test-voc a {
    color: rgb(0, 85, 255);
    font-size: 26px;
    padding: 0 10px;
  }

  /* Media Querys */


  @media screen and (max-width: 720px) {

    .uf-presentacion span {
      font-size: 6rem;
      color: rgb(31, 84, 229);
      border-bottom: 0px;
      -webkit-text-stroke: rgb(6, 187, 237);
      text-stroke: rgb(6, 187, 237);
    }

    .uf-presentacion-second {
      backdrop-filter: blur(15px);
      padding: 15px;
      border: rgb(21, 90, 201) 1px solid;
      border-radius: 50px;
    }
  }

  @media screen and (max-width: 620px) {
    .uf-presentacion span {
      font-size: 5rem;
    }

    .uf-presentacion {
      height: 500px;
    }

    .test-voc a {
      display: block;
    }
  }

  @media screen and (max-width: 410px) {
    .uf-presentacion span {
      font-size: 4rem;
    }
  }

  @media screen and (max-width: 385px) {
    .uf-presentacion {
      height: 500px;
    }
    .uf-presentacion span {
      font-size: 4rem;
    }
  }

  @media screen and (max-width: 363px) {
    .Logo-uni {
      padding-right: 0;
      padding-left: 0;
      margin-top: 10px;
    }
  }

  @media screen and (max-width: 325px) {
    .uf-presentacion span {
      font-size: 3.8rem;
    }
  }
</style>
