---
import Twitter from"./icons/Twitter.astro";
import Instagram from"./icons/Instagram.astro";
import GitHub from"./icons/GitHub.astro";
---
<footer class="footer" id="footer">
    <div class="container">
      <div class="footer-row">
        <div class="footer-links">
          <h3>Creadores</h3>
          <ul>
            <li><a href="/Footer/nosotros">Nosotros</a></li>
          </ul>
        </div>
        <div class="footer-links">
          <h3>Contactános</h3>
          <ul>
            <li><a href="/Footer/contacto">Contacto</a></li>
            <li>
              <a href="/Footer/promocion">Promociona tu Universidad</a>
            </li>
            <li><a href="/Footer/sugerencias">Enviá sugerencias</a></li>
          </ul>
        </div>
        <div class="footer-links">
          <h3>Nuestras redes</h3>
          <span class="redes-logos"
            ><a
              href="https://twitter.com/Uni_Finder_?t=ii4brxzs_pgnH5b4bmk1ug&s=08"
              ,
              target="_blank"
              ><Twitter /></a
            ></span
          >
          <span class="redes-logos"
            ><a
              href="https://instagram.com/uni_finder_?utm_source=qr&igshid=ZDc4ODBmNjlmNQ%3D%3D"
              ,
              target="_blank"
              ><Instagram /></a
            ></span
          >
          <span class="redes-logos"
            ><a
              href="https://github.com/TeGsOg1/UniFinder-Astro.git"
              ,
              target="_blank"
              ><GitHub /></a
            ></span
          >
        </div>
        <div class="footer-links">
          <h3>Derechos</h3>
          <span id="copy"
            >Copyright © Todos los derechos reservados / UniFinder</span
          >
        </div>
      </div>
    </div>
  </footer>

  <style>.adapt {
    min-height: calc(100vh - 0px - 190px);
  }

  .footer {
    display: flex;
    background-color: rgba(0, 1, 0, 0.8);
    margin-top: 20px;
    justify-content: center;
    width: 100%;
    height: 150px;
    height: auto;
    line-height: 26px;
  }

  .container {
    padding: 10px;
    width: 1150px;

  }

  .footer-row {
    padding-top: 20px;
    display: flex;
    flex-wrap: wrap;
  }

  .footer-links {
    padding: 0 15px;
    width: 25%;
  }

  .footer-links h3 {
    border-bottom: 2px solid var(--color-principal-);
    font-size: 20px;
    color: aliceblue;
  }

  .footer-links ul li a {
    text-decoration: none;
    color: rgb(0, 166, 255);
    transition: all 0.3s ease;
    padding-bottom: 10px;
  }

  .footer-links ul li a:hover {
    color: rgb(0, 128, 255);
    padding-left: 6px;
  }

  .footer-links ul {
    list-style: none;
    padding: 0;
  }

  .redes-logos svg {
    width: 35px;
    height: auto;
    margin: 10px 15px;
  }

  .redes-logos a {
    color: rgb(13, 134, 255);
    transition: 0.3s;
  }

  .redes-logos a:hover {
    color: rgb(0, 179, 255);
  }

  #copy {
    color: aliceblue;
  }


  /* Media Querys */

  @media (max-width: 920px) {
    .footer-row {
      text-align: center;
    }

    .footer-links {
      width: 100%;
      margin-bottom: 30px;
    }
  }
</style>