---
interface Props {
  map: string;
}

const { map } = Astro.props

---

<div class="facus-container">
  <div class="facus-flex" id="facus-flex-izq">
    <h1><strong>Facultades</strong></h1>
    <h3 id="inv-facu">
      Te invitamos a ver cada una de las <br />
       cuales conforman a esta universidad junto con sus respectivas <br />
       carreras y un mapa que señala cada facultad.
    </h3>
  </div>
  <div class="facus-flex" id="facus-flex-der">
    <h2>Mapa de facultades</h2>
    <iframe
      id="map"
      src={ map }
    ></iframe>
  </div>
</div>

<style>

.facus-container {
    background: linear-gradient( to right, rgb(0, 200, 255), rgb(0, 140, 255), rgb(0, 89, 255));
    display: flex;
    flex-wrap: wrap;
    margin-top: 10px;
    text-align: center;
    width: 100%;
    height: 600px;
}

#facus-flex-izq {
    padding: 0 20px;

}

#facus-flex-der {
    width: auto;
    width: 700px;
    margin-top: 60px;
    padding-left: 20px;
    margin-top: 60px;
    flex-grow: calc(1);
    width: 40%;
    height: auto;
    margin-right: 20px;

}


.facus-flex h1{
    margin-top: 50px;
    font-size: 2.7rem;
}

#inv-facu{
    margin-top: 110px;
    font-size: 2.3rem;
}

#map {
    width: 90%;
    height: 450px;
}


@media screen and (max-width:1703px) {
    #facus-flex-izq {
        width: 600px;
    }
}

@media screen and (max-width:1500px) {
    #facus-flex-izq {
        width: 500px;
    }
}

@media screen and (max-width:1400px) {
    .facus-col {
        width: 48%;
    }
}


@media screen and (max-width:1300px) {
    #facus-flex-izq {
        width: 400px;
    }
}

@media screen and (max-width:1000px) {
    .facus-col {
        width: 100%;
    }
}

@media screen and (max-width:940px) {
    .facus-container {
        height: 970px;
    }

    #facus-flex-izq {
        width: 100%;
    }

    #facus-flex-der {
        justify-content: center;
        margin-right: 20px;
        margin-top: 0;
    }

    #inv-facu {
        margin-top: 50px;
    }

}

@media screen and (max-width:929px) {
    #unis-flex-der {
        margin-top: 0;
        height: auto;
    }

    .facus-flex {
        height: auto;
    }
}

@media screen and (max-width:627px) {


    #inv-facu {
        font-size: 1.6rem;
    }

    #facus-flex-der {
        margin-top: 10px;
    }
}



@media screen and (max-width:550px) {
    .unis-flex img {
        width: 400px;
    }

    #unis-flex-izq {
        height: auto;
    }

    #unis-flex-der h4 {
        font-size: 110%;
        margin: 5px;
    }

    #priv-pub-txt {
        font-size: 110%;
    }
    #uni-img {
        height: auto;
    }
    .btn-categ {
        font-size: 1.4rem;
        width: 270px;
        padding-top: 5px;
    }
    .btn-categ:hover {
        background-color: rgb(34, 188, 254);
        transform: scale(1);
    }
    .btn-categ:active {
        background-color: rgb(34, 144, 254);
        transform: scale(1.05);
    }
}
</style>