---
import FooterTitulo from "../../components/Footer-titulo.astro";
import Layout from "../../layouts/Layout.astro";
import Email from "../../components/icons/Email.astro"
import EnvEmail from "../../components/EnvEmail.astro";
---

<Layout title="Contacto">
<FooterTitulo img="contactanos">
  Contactános
</FooterTitulo>
    <div class="form-container">
      <div class="info-contact">
        <h3 class="cont-text">Hacenos saber lo que <br /> nos querés decir</h3>
      </div>
      <div class="info-contact">
        <form
          action="https://formsubmit.co/uni.finder01@gmail.com"
          method="POST"
          class="formulario"
        >
          <h2>Contactános</h2>
          <input
            type="text"
            placeholder="Nombre"
            name="nombre"
            class="txt-inp"
            required
          />
          <input
            type="text"
            placeholder="Apellido"
            name="apellido"
            class="txt-inp"
            required
          />
          <input
            type="email"
            name="email"
            class="txt-inp"
            placeholder="Correo electrónico"
            id=""
          />
          <textarea
            name="coment"
            placeholder="Escribí tu mensaje acá"
            class="txt-inp"
            id="txt-area"
            cols="50"
            rows="10"
            maxlength="320"></textarea>
          <input type="hidden" name="_captcha" value="false" />
          <input
            type="hidden"
            name="_next"
            value="https://unifinder-pruebas.tomas-crespocre.repl.co/Footer/form-comp-cont.html"
          />
          <input type="submit" value="Enviar" class="txt-inp" id="btn-inp" />
        </form>
        <EnvEmail />
      </div>
    </div>
</Layout>

<style>

  .form-container {
    background: linear-gradient(
      to right,
      #0ed2f7,
      #b2fefa
    );

    width: 100%;
    display: flex;
    flex-direction: row;
    height: auto;
    margin-top: 20px;
    padding-bottom: 50px;
  }

  .info-contact {
    margin: 0 auto;
  }

  .cont-text {
    color: rgb(0, 0, 0);
    margin-top: 30px;
    font-size: 2.5rem;
    margin-left: 5px;

  }

  #cont-text-det {
    max-width: 500px;
    text-wrap: pretty;
    font-size: 26px;
    padding-top: 50px;
    margin-left: 5px;
  }

  form h2 {
    text-align: center;
    text-decoration: underline;
    padding-bottom: 10px;
  }

  form {
    background: transparent;

    margin-top: 30px;
    padding: 20px 20px;
    border-radius: 10px;
    height: auto;
    border: 1px solid black;
    width: 500px;
    margin-left: 10px;
    box-shadow: 1px 5px 10px rgba(0, 0, 0, 0.429)
  }

  label {
    font-size: 1.5rem;
  }

  form input,
  textarea {
    display: block;
    resize: none !important;
  }

  .txt-inp {
    font-size: 1.2rem;
    margin-bottom: 10px !important;
    width: 300px;
    height: 50px;
    background-color: rgba(0, 0, 0, 0.507);
    border: none;
    border-radius: 5px;
    color: #fff;
    padding: 4px;

    transition: all ease 0.2s;
  }

  #txt-area {
    width: 300px !important;
    height: 200px;
  }

  select {
    font-size: 1.2rem;
  }

  .txt-inp::placeholder {
    color: #fff;
    font-size: 1.2rem;
  }

  #btn-inp {
    width: 200px;
    height: 40px;
    transition: all ease 0.3s;
  }

  #btn-inp:hover {
    background-color: rgba(0, 0, 0, 0.63);
    transform: scale(1.04);
  }

  /* Responsive */

  @media (width < 1120px) {
    .form-container {
      flex-direction: column;
        height: auto;
    }

    label {
        font-size: 1.2rem;
    }
}

@media screen and (max-width:520px) {

    form {
        width: 300px !important;

    }

    .txt-inp {
        width: 100% !important;
    }

    #txt-area {
        width: 210px !important;
        height: 150px;
        margin: auto;
    }

    .cont-text {
        margin-top: 30px;
        font-size: 30px;
    }

    #btn-inp {
        width: 100px !important;
        margin: auto;
    }
    
    .info-contact {
      text-align: center;
    }
  }
</style>
