---
import { ViewTransitions } from "astro:transitions";
interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" href="/LogoUF.png" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <ViewTransitions />
  </head>

  <body>
    <nav class="fixed-top" transition:z-index="10">
      <input type="checkbox" id="check" />
      <label for="check">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="128"
        height="128"
        viewBox="0 0 20 20"
        ><path
          fill="#000000"
          fill-rule="evenodd"
          d="M2 4.75A.75.75 0 0 1 2.75 4h14.5a.75.75 0 0 1 0 1.5H2.75A.75.75 0 0 1 2 4.75ZM2 10a.75.75 0 0 1 .75-.75h14.5a.75.75 0 0 1 0 1.5H2.75A.75.75 0 0 1 2 10Zm0 5.25a.75.75 0 0 1 .75-.75h14.5a.75.75 0 0 1 0 1.5H2.75a.75.75 0 0 1-.75-.75Z"
          clip-rule="evenodd"></path></svg
      >
    </label>
      <div class="uf-class">
        <a href="/"
          ><img id="uf-logo" src="/LogoUF.png" alt="Logo UF" />UniFinder</a
        >
      </div>
      <ul>
        <li class="inicio"><a id="inicio" href="/">Inicio</a></li>
        <li class="test-voc"><a href="/#test-voc">Test vocacional</a></li>
        <li class="Contacto"><a href="#footer">Contacto</a></li>
      </ul>
    </nav>
    <slot />
    <footer class="footer" id="footer">
      <div class="container">
        <div class="footer-row">
          <div class="footer-links">
            <h3>Creadores</h3>
            <ul>
              <li><a href="/Footer/nosotros">Nosotros</a></li>
            </ul>
          </div>
          <div class="footer-links">
            <h3>Contactános</h3>
            <ul>
              <li><a href="/Footer/contacto">Contacto</a></li>
              <li>
                <a href="/Footer/promocion">Promociona tu Universidad</a>
              </li>
              <li><a href="/Footer/sugerencias">Enviá sugerencias</a></li>
            </ul>
          </div>
          <div class="footer-links">
            <h3>Nuestras redes</h3>
            <span class="redes-logos"
              ><a
                href="https://twitter.com/Uni_Finder_?t=ii4brxzs_pgnH5b4bmk1ug&s=08"
                ,
                target="_blank"
                ><svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="128"
                  height="128"
                  viewBox="0 0 24 24"
                  ><path
                    fill="#0284c7"
                    d="M13.808 10.469L20.88 2h-1.676l-6.142 7.353L8.158 2H2.5l7.418 11.12L2.5 22h1.676l6.486-7.765L15.842 22H21.5l-7.693-11.531Zm-2.296 2.748l-.752-1.107L4.78 3.3h2.575l4.826 7.11l.751 1.107l6.273 9.242h-2.574l-5.12-7.541Z"
                  ></path></svg
                ></a
              ></span
            >
            <span class="redes-logos"
              ><a
                href="https://instagram.com/uni_finder_?utm_source=qr&igshid=ZDc4ODBmNjlmNQ%3D%3D"
                ,
                target="_blank"
                ><svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="128"
                  height="128"
                  viewBox="0 0 24 24"
                  ><path
                    fill="#0284c7"
                    d="M7.8 2h8.4C19.4 2 22 4.6 22 7.8v8.4a5.8 5.8 0 0 1-5.8 5.8H7.8C4.6 22 2 19.4 2 16.2V7.8A5.8 5.8 0 0 1 7.8 2m-.2 2A3.6 3.6 0 0 0 4 7.6v8.8C4 18.39 5.61 20 7.6 20h8.8a3.6 3.6 0 0 0 3.6-3.6V7.6C20 5.61 18.39 4 16.4 4H7.6m9.65 1.5a1.25 1.25 0 0 1 1.25 1.25A1.25 1.25 0 0 1 17.25 8A1.25 1.25 0 0 1 16 6.75a1.25 1.25 0 0 1 1.25-1.25M12 7a5 5 0 0 1 5 5a5 5 0 0 1-5 5a5 5 0 0 1-5-5a5 5 0 0 1 5-5m0 2a3 3 0 0 0-3 3a3 3 0 0 0 3 3a3 3 0 0 0 3-3a3 3 0 0 0-3-3Z"
                  ></path></svg
                ></a
              ></span
            >
            <span class="redes-logos"
              ><a
                href="https://github.com/TeGsOg1/UniFinder.git"
                ,
                target="_blank"
                ><svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="128"
                  height="128"
                  viewBox="0 0 24 24"
                  ><path
                    fill="#0284c7"
                    d="M12 2A10 10 0 0 0 2 12c0 4.42 2.87 8.17 6.84 9.5c.5.08.66-.23.66-.5v-1.69c-2.77.6-3.36-1.34-3.36-1.34c-.46-1.16-1.11-1.47-1.11-1.47c-.91-.62.07-.6.07-.6c1 .07 1.53 1.03 1.53 1.03c.87 1.52 2.34 1.07 2.91.83c.09-.65.35-1.09.63-1.34c-2.22-.25-4.55-1.11-4.55-4.92c0-1.11.38-2 1.03-2.71c-.1-.25-.45-1.29.1-2.64c0 0 .84-.27 2.75 1.02c.79-.22 1.65-.33 2.5-.33c.85 0 1.71.11 2.5.33c1.91-1.29 2.75-1.02 2.75-1.02c.55 1.35.2 2.39.1 2.64c.65.71 1.03 1.6 1.03 2.71c0 3.82-2.34 4.66-4.57 4.91c.36.31.69.92.69 1.85V21c0 .27.16.59.67.5C19.14 20.16 22 16.42 22 12A10 10 0 0 0 12 2Z"
                  ></path></svg
                ></a
              ></span
            >
          </div>
          <div class="footer-links">
            <h3>Derechos</h3>
            <span id="copy"
              >Copyright © Todos los derechos reservados / UniFinder</span
            >
          </div>
        </div>
      </div>
    </footer>
    <script
      src="https://kit.fontawesome.com/6542a09f67.js"
      crossorigin="anonymous"></script>
</body>
</html>
    
<style is:global>
  :root {
    --color-principal-: rgb(40, 42, 188);
    --shadow-elevation-high: 0.2px 0.2px 0.3px
        hsl(var(--shadow-color) / 0.34),
      1.3px 1.1px 1.9px -0.4px hsl(var(--shadow-color) / 0.34),
      2.4px 2px 3.5px -0.7px hsl(var(--shadow-color) / 0.34),
      4px 3.4px 5.9px -1.1px hsl(var(--shadow-color) / 0.34),
      6.4px 5.4px 9.4px -1.4px hsl(var(--shadow-color) / 0.34),
      9.9px 8.4px 14.6px -1.8px hsl(var(--shadow-color) / 0.34),
      15.1px 12.7px 22.2px -2.1px hsl(var(--shadow-color) / 0.34),
      22.3px 18.8px 32.8px -2.5px hsl(var(--shadow-color) / 0.34);
  }
  
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  @font-face {
    font-family: Segoe UI Variable;
    src: url(/fonts/Segoe-UI-Variable-Static-Display.ttf);
  }

  html {
    position: relative;
    min-height: 100%;
    scroll-behavior: smooth;
  }

  body {
    overflow-x: hidden;
    background-size: cover;
    background-repeat: no-repeat;
    font-family:
      Segoe UI Variable,
      "Montserrat",
      sans-serif !important;
  }

  body::-webkit-scrollbar {
    width: 13px;
    border-radius: 5px;
    background-color: aliceblue;
  }

  body::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background: linear-gradient(rgb(0, 76, 255), rgb(0, 187, 255));
  }

  /* Barra de navegacion
  ------------------------- */
  nav {
    z-index: 2;
    background-color: var(--color-principal-);
    height: 60px;
    width: 100%;
  }

  nav ul {
    float: right;
    font-size: 20px;
    padding-bottom: 10px;
    cursor: default;
  }

  nav li {
    margin-right: 10px;
    margin-top: 30px;
  }

  nav ul li {
    margin-top: 17px;
    display: inline-block;
  }

  nav a {
    text-decoration: none;
    justify-content: center;
    border-radius: 30px;
    padding: 0.5rem 1rem;
    border: none;
    color: aliceblue;
    transition: 0.2s all ease;
  }

  nav a:hover {
    color: aliceblue;
    text-decoration: none;
  }

  .uf-class {
    margin-top: 5px;
    position: fixed;
    margin-right: auto;
    padding-left: 10px;
    font-size: 25px;
    padding-bottom: 10px;
  }

  #uf-logo {
    padding-right: 5px;
    height: 56px;
    padding-bottom: 9px;
  }

  nav svg {
    margin-top: 11px;
    cursor: pointer;
    float: right;
    height: auto;
    width: 40px;
    margin-right: 40px;
    display: none;
  }

  nav label {
    float: right;
    width: 20px;
  }

  #check {
    display: none;
  }

  /*Esto es el footer
  ----------------------------*/
  .adapt {
    min-height: calc(100vh - 0px - 190px);
  }

  .footer {
    display: flex;
    background-color: rgba(0, 1, 0, 0.8);
    margin-top: 20px;
    justify-content: center;
    width: 100%;
  }

  .container {
    padding: 10px;
  }

  .footer-row {
    padding-top: 20px;
    display: flex;
    flex-wrap: wrap;
  }

  .footer-links {
    padding: 0 15px;
    width: 25%;
  }

  .footer-links h3 {
    border-bottom: 2px solid var(--color-principal-);
    font-size: 20px;
    color: aliceblue;
  }

  .footer-links ul li a {
    text-decoration: none;
    color: rgb(0, 166, 255);
    transition: all 0.3s ease;
  }

  .footer-links ul li a:hover {
    color: rgb(0, 166, 255);
    padding-left: 6px;
  }

  .footer-links ul {
    list-style: none;
    padding: 0;
  }

  .redes-logos svg {
    width: 35px;
    height: auto;
    margin: 10px 15px;
  }

  .redes-logos a {
    color: rgb(13, 134, 255);
  }

  .redes-logos a:hover {
    color: rgb(0, 179, 255);
    transition: 0.3s;
  }

  #copy {
    color: aliceblue;
  }

  /* Keyframes
  ------------------------------------------------------ */
   @keyframes title-appear {
 from {
      transform: translateX(-50%);
      opacity: 0;
  }

 to {
      transform: translateX(0);
      opacity: 1;
  }
}

  /*De aca en adelante es codigo para hacer la pag responsive
  -----------------------------------------------------------*/
  @media (max-width: 1031px) {
    nav ul {
      font-size: 20px;
    }
  }

  @media (max-width: 920px) {
    nav li {
      margin-right: 10px;
    }

    .footer-row {
      text-align: center;
    }

    .footer-links {
      width: 100%;
      margin-bottom: 30px;
    }
  }

  @media (max-width: 790px) {
    nav li {
      margin-right: 1px;
    }
  }

  @media (max-width: 720px) {
    nav svg {
      display: block;
    }

    nav ul {
      position: fixed;
      width: 100%;
      height: 100vh;
      background: rgb(128, 128, 128);
      top: 59px;
      left: -100%;
      transition: 0.5s;
      text-align: center;
    }

    nav ul li {
      display: block;
      padding-bottom: 20px;
      font-size: 20px;
    }

    nav ul li a:active {
      background-color: rgb(48, 48, 219);
    }

    #check:checked ~ ul {
      left: 0%;
    }
  }

</style>
