---
interface Props {
    uni: string;
    btn: string;
}

const { uni, btn } = Astro.props
---

<div class="becas">
  <div class="titulo">
    <h1 id="beca">
      {uni}
      <br />
       {btn}
    </h1>
  </div>
  <img id="solapa" src="/solapa_institucional.png" alt="" />
  <div class="text">
    <slot />
  </div>
</div>
  <style is:global>
    .titulo {
      width: 100%;
      height: 400px;
      background: #0033ff;

      text-align: center;
    }

    #solapa {
      transform: translateY(-1px);
      width: 100%;
      height: 28px;

      margin-bottom: 30px;
    }

    .titulo h1 {
      text-transform: uppercase;
      font-size: 4rem;
      color: aliceblue;
      padding-top: 150px;
      text-align: center;
      font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    }

    .text {
      padding: 0 40px;
      font-size: 1.3rem;
    }

    .text ul {
      margin-left: 35px;
    }

    .text h2 {
      margin-top: 60px;
      margin-bottom: 20px;
      text-align: center;
    }

    #h1-second {
      text-align: center;
      margin-top: 20px;
    }

    @media screen and (max-width: 600px) {
      #solapa {
        height: 20px;
        transform: translateY(-1px);
      }

      .titulo {
        height: 300px;
      }

      .titulo h1 {
        font-size: 3rem;
        padding-top: 120px;
      }
    }

    @media screen and (max-width: 415px) {
      #solapa {
        height: 20px;
        transform: translateY(0px);
      }

      .titulo h1 {
        font-size: 2rem;
        padding-top: 120px;
      }
      
      .text h3 {
        font-size: 1.2rem;
      }

      .text h2 {
        font-size: 1.4rem;
      }
    }
  </style>
</div>
