---

import { ViewTransitions } from "astro:transitions";
import NavBar from "../components/NavBar.astro"
import Footer from "../components/Footer.astro";
interface Props {
  title: string;
}

const { title } = Astro.props;

---

<!doctype html>
<html lang="es">
  <head>

    <meta charset="UTF-8" />
    <meta name="description" content="UniFinder está creado con el fin de poder ayudar a futuros estudiantes universitarios a poder elegir su universidad ideal" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" href="/LogoUF.png" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <ViewTransitions />
  </head>

  <body>
 <NavBar />
    <slot />
 <Footer />
</body>
</html>
    
<style is:global>
  :root {
    --Imagebg-: url(../../public/Fondo.jpeg);
    --color-principal-: rgb(40, 42, 188);
    --shadow-elevation-high: 0.2px 0.2px 0.3px
        hsl(var(--shadow-color) / 0.34),
      1.3px 1.1px 1.9px -0.4px hsl(var(--shadow-color) / 0.34),
      2.4px 2px 3.5px -0.7px hsl(var(--shadow-color) / 0.34),
      4px 3.4px 5.9px -1.1px hsl(var(--shadow-color) / 0.34),
      6.4px 5.4px 9.4px -1.4px hsl(var(--shadow-color) / 0.34),
      9.9px 8.4px 14.6px -1.8px hsl(var(--shadow-color) / 0.34),
      15.1px 12.7px 22.2px -2.1px hsl(var(--shadow-color) / 0.34),
      22.3px 18.8px 32.8px -2.5px hsl(var(--shadow-color) / 0.34);
  }
  
  *, *::before,*::after {
    box-sizing: border-box;
  }

  * {
    margin: 0;
    padding: 0;
  }

  @font-face {
    font-family: Segoe UI Variable;
    src: url(/fonts/Segoe-UI-Variable-Static-Display.ttf);
  }

  html {
    position: relative;
    min-height: 100%;
    scroll-behavior: smooth;
  }

  body {
    overflow-x: hidden;
    background-size: cover;
    background-repeat: no-repeat;
    font-family:
      Segoe UI Variable,
      "Montserrat",
      sans-serif !important;
    line-height: 1.2;
  }

  h1, h2, h3, h4, h5, h6 {
    font-weight: 500;
  }

  a {
    text-decoration: none;
  }

  strong {
    font-weight: bold;
  }

  body::-webkit-scrollbar {
    width: 13px;
    border-radius: 5px;
    background-color: aliceblue;
  }

  body::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background: linear-gradient(rgb(0, 76, 255), rgb(0, 187, 255));
  }

  .uf-header {
    
    animation: scrollBlur linear both;
    animation-timeline: scroll();
    animation-range: 0 300px;
  }

  /* Keyframes
  ------------------------------------------------------ */

  @keyframes scrollBlur {
    to {
      box-shadow: 
      0 5px 50px -5px hsla(0,0%, 100%, 0.1),
      0 0 0 1 hsla(0,0%, 100%, 0.1);

      background: rgba(0, 0, 0, .3);
      backdrop-filter: blur(15px);
    }
  }

  @keyframes title-appear {
    from {
      transform: translateX(-50%);
      opacity: 0;
    }

    to {
      transform: translateX(0);
      opacity: 1;
    }
  }
</style>
