---
import LayoutBtns from "../../../layouts/Layout-btns.astro";
import Layout from "../../../layouts/Layout.astro";

---

<Layout title="Deportes - UNLP">
    <LayoutBtns uni="UNLP" btn="Deportes">
        <h2><strong>Información:</strong></h2>
        <h3>Podés sumarte a los planteles que representan a la Universidad de las distintas
          Ligas, participar de forma libre y gratuita en los torneos, Olimpíadas Universitarias y la
          Maratón anual de la UNLP. También podés realizar diversas prácticas en el Campo de Deporte y acceder
          a la pileta en verano.
        </h3>
        <h2><strong>Competencia-Federados:</strong></h2>
        <h3>
          <ul>
            <li>Atletismo</li>
            <li>Básquet</li>
            <li>Fútbol</li>
            <li>Handball</li>
            <li>Hockey</li>
            <li>Judo</li>
            <li>Rugby</li>
            <li>Sóftbol</li>
            <li>Tenis</li>
            <li>Vóley Masculino</li>
            <li>Vóley Femenino</li>
          </ul>
        </h3>
        <h2><strong>Actividades Recreativas:</strong></h2>
        <h3>
          <ul>
            <li>Actividad para la salud y entrenamiento deportivo</li>
            <li>Entretenimiento deportivo</li>
            <li>Gimnasia aeróbica</li>
            <li>Gimnasia artística</li>
            <li>Handball femenino</li>
            <li>Handball masculino</li>
            <li>Hockey sobre césped femenino</li>
            <li>Judo</li>
            <li>Pilates</li>
            <li>Rugby</li>
            <li>Salsa</li>
            <li>Vóley femenino</li>
          </ul>
        </h3>
        <h2><strong>Infantíl:</strong></h2>
        <h3>
          <ul>
            <li>Atletismo</li>
            <li>Básquet</li>
            <li>Fútbol Femenino</li>
            <li>Fútbol Masculino</li>
            <li>Gimnasia artística</li>
            <li>Hockey</li>
            <li>Patín</li>
            <li>Tenis</li>
          </ul>
        </h3>
        <h2>Para obtener toda la información completa visitá <a href="https://deportes.unlp.edu.ar/" target="_blank">este
            sitio</a></h2>
    </LayoutBtns>
</Layout>