---
import LayoutBtns from "../../../layouts/Layout-btns.astro";
import Layout from "../../../layouts/Layout.astro";

---

<Layout title="Deportes - UBA">
    <LayoutBtns uni="UBA" btn="Deportes">
        <h3>En la extensión universitaria de deportes de la UBA se dictan básquet, atletismo, fútbol, gimnasia recreativa,
            handball, hockey, judo, tenis, UBA aventura y voley.</h3>
          <h3>Por otro lado, a través de la Secretaría de Extensión podés <strong>representar al CBC en Torneos Interfacultades
              organizados por la UBA.<strong></h3>
          <h2><strong>¿En qué equipos se puede participar?</strong></h2>
          <h3>
            <ul>
              <li>
                Basquet
              </li>
              <li>
                Fútbol 11
              </li>
              <li>
                Fútstal
              </li>
              <li>
                Handball
              </li>
              <li>
                Hockey sobre césped
              </li>
              <li>
                Natación (si sos federado/a)
              </li>
              <li>
                Voley
              </li>
            </ul>
          </h3>
          <h3>Los entrenamientos son los sábados en el Campo de Deportes UBA (Ciudad Universitaria) <h3>
              <h2>Para +info entrá <a href="https://www.cbc.uba.ar/extension/deportes">ACÁ</a></h2>
    </LayoutBtns>
</Layout>