---
import LayoutBtns from "../../../layouts/Layout-btns.astro";
import Layout from "../../../layouts/Layout.astro";

---

<Layout title="Deportes - UCALP">
    <LayoutBtns uni="UCALP" btn="Deportes">
        <h3>El Departamento de Deportes es un espacio de desarrollo y estímulo que fomenta la salud, la actividad física y
            la recreación, creado para la comunidad UCALP. Acompaña la unión entre profesores, empleados, estudiantes de todos
            los niveles (inicial, primario, secundario y universitario) y familias, y facilita su convivencia, lo que eleva la
            calidad de vida en un marco distendido.</h3>
          <h3>Se creó con el objetivo de promover, coordinar, estimular y desarrollar actividades deportivas, de competición
            y recreación dirigidas a quienes forman la comunidad UCALP. También ofrece la posibilidad de disfrutar de un
            espacio de ocio o esparcimiento en nuestro Campo de Deportes.</h3>
          <h2><strong>¿Quiénes somos?</strong></h2>
          <h3>
            <ul>
              <li>
                Directora del Departamento de Deportes: Lic. Claudia Fernández
              </li>
              <li>
                Entrenadora de vóley femenino: Prof. Paula Casamiquela
              </li>
              <li>
                Entrenadora de hockey femenino: Prof. Verónica Maiztegui
              </li>
              <li>
                Entrenador de fútbol masculino: Prof. Alejandro Osan
              </li>
              <li>
                Entrenadores de rugby: Téc. Matías Álvarez Mariani y Téc. Esteban Bilbao
              </li>
              <li>
                Entrenador de básquet masculino: Prof. Alejandro Zubik
              </li>
              <li>
                Responsable de Evaluaciones y Alumnos Federados que representan a la UCALP: Prof. Andrea Arguiano
              </li>
              <li>
                Coordinador del Campo de Deportes: Téc. Matías Álvarez Mariani
              </li>
            </ul>
          </h3>
          <br>
          <h2><strong>BENEFICIOS PARA LA COMUNIDAD UCALP</strong></h2>
          <h3>Los alumnos pueden practicar vóley, hockey, fútbol, rugby y básquet, y tienen la posibilidad de simplemente
            entrenar o pueden formar parte de los equipos de la UCALP y competir.</h3>
          <h3>El Departamento de Deportes brinda asesoramiento en forma gratuita y vincula a los deportistas con clubes
            de la región.</h3>
          <h3>Toda la Comunidad UCALP puede hacer uso de las instalaciones del Campo de Deportes de manera gratuita.
          </h3>
          <h3>El Departamento de Deportes gestiona “becas estímulo para las prácticas deportivas”: recepciona las
            solicitudes, las evalúa y las eleva al Departamento de Becas, en los casos en que, por diversos motivos, se
            considera que es meritoria la ayuda económica.</h3>
            <h2>Para +info entrá <a href="https://www.ucalp.edu.ar/la-universidad/depto-de-deportes/">ACÁ</a></h2>
    </LayoutBtns>
</Layout>